    @page
@model Pop_Mihai_Lab.Pages.Comenzi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Produs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].NrProduse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comanda) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produs.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrProduse)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
